---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-prefer-member-initializer,
  modernize-*,
  modernize-use-constraints,
  modernize-use-ranges,
  modernize-use-starts-ends-with,
  modernize-use-std-format,
  modernize-use-std-print,
  modernize-type-traits,
  bugprone-assignment-in-if-condition,
  bugprone-chained-comparison,
  bugprone-optional-value-conversion,
  readability-duplicate-include,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-use-anyofallof,
  -readability-redundant-access-specifiers

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'

CheckOptions:
  modernize-use-override.AllowOverrideAndFinal: true
  readability-const-return-type.IgnoreMacro: true
